body {
    background-color: black;
    font-family:cursive ;
    /* font-size: large; */
}

#navbar ul {
    list-style: none;
    position: relative;
    top: -1rem;
    width: 98%;
    line-height: 30px;
    left: -8px;
    display: flex;
    border: 3px solid black;
    background-color: black;
    justify-content: center;
}

#navbar li a {
    color: deeppink;
    list-style: none;
    margin: 15px;
    font-family: cursive;
    text-decoration: none;
}

#navbar li a:hover {
    color: azure;
}



.content {
    position: relative;
    top: -18px;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'section section section section'
        'aside aside aside aside'
        'footer footer footer footer'
    ;
}

#section {
    grid-area: section;
}

#aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    margin: 5px;
}

.nice {
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: wheat;
    position: relative;
    top: 230px;
    border: 4px solid black;
    background: black;
    border-radius: 10px;
}

.noob {
    display: flex;
    border: 2px solid white;
    grid-gap: 2.75rem;
    flex-direction: row;
}

img {
    padding: 4px 8px;
}

.never {
    border: 2px solid white;
    position: relative;
    top: 340px;
    display: flex;
    flex-direction: row;
}

h1 {
    display: flex;
    color: #b1ddf1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
}

.op {
    color: #c0fab9;
}

p {
    font-family: cursive;
}